/* Styles du footer */
footer {
  margin-top: 40px; /* Marge supérieure de 40 pixels */
  display: flex; /* Affichage en mode flexbox */
  flex-direction: column; /* Direction de la colonne pour les éléments enfants */
  align-items: center; /* Centrage horizontal des éléments enfants */
  height: 209px; /* Hauteur fixe du footer */
  background-color: black; /* Couleur de fond noire */
  color: white; /* Couleur du texte blanc */
}

/* Styles du logo du footer */
.logo_footer {
  margin-top: 70px; /* Marge supérieure de 70 pixels */
  filter: brightness(3); /* Augmentation de la luminosité */
  /* Les dimensions du logo peuvent être définies si nécessaire */
  /* width: 122px; */
  /* height: 39.44px; */
  margin: auto; /* Centrage horizontal */
}

/* Styles du paragraphe dans le footer */
footer > p {
  padding-bottom: 25px; /* Espacement inférieur de 25 pixels */
  font-family: Montserrat; /* Police de caractères Montserrat */
}
