/* Réinitialisation des marges et des rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteneur principal */
.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

/* Styles des boutons */
.button {
  margin-top: 30px;
}

/* Style de la section de description */
aside {
  width: 82.5%;
  background: rgba(246, 246, 246, 1);
  padding: 20px;
}

aside > p {
  color: black;
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (max-width: 944px) {
  .container {
    padding: 0 30px;
  }
}

/* Media queries pour les petits écrans */
@media screen and (max-width: 550px) {
  /* Ajustement de la largeur des éléments */
  .divCategories {
    width: 100%;
  }

  /* Ajustement de la taille de l'image de la bannière */
  .banniere2_img {
    background-size: cover;
    background-position: center;
    height: 111px;
    border-radius: 10px;
  }

  /* Ajustement de la hauteur des éléments de la catégorie */
  .divCategories {
    height: 30px;
  }
}
