/* Conteneur principal du bouton */
.btncomplet {
  width: 100%;
  position: relative;
}

/* Style du rideau déroulant */
.rideauDeroulant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  height: 52px;
  border-radius: 5px;
  background: rgba(255, 96, 96, 1);
}

/* Style du texte de la catégorie */
.categories {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

/* Style du bouton à l'intérieur du rideau déroulant */
.rideauDeroulant > button {
  border: none;
  background-color: rgba(255, 96, 96, 1);
  margin-right: 20px;
  cursor: pointer;
}

/* Style de l'icône de la flèche */
.arrow {
  width: 13.71px;
  height: 24px;
  transform: rotate(90deg);
  transition: 0.1s ease-in-out;
}

/* Style de l'icône de la flèche lorsque le contenu est ouvert */
.arrowOpen {
  transform: rotate(-90deg);
}

/* Style de la section contenant la description */
aside {
  width: auto;
  background: rgba(246, 246, 246, 1);
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
